- if @company.errors.any?
  #errorExplanation
    %h2
      = pluralize(@company.errors.count, "error")
    %ul  
    - @company.errors.full_messages.each do |msg|
      %li= msg
%p= f.label :name, "Nazwa"
%p= f.text_field :name
%p= f.label :boss, "Nazwisko szefa"
%p= f.text_field :boss
%p= f.collection_select(:line_id, Line.all, :id, :name)
