%h2 Firmy
%p= link_to "Wyloguj mnie", destroy_user_session_path

%p= link_to "Nowa firma", new_company_path
%hr
- @companies.each do |company|
  %p
  %b= company.name
  %p= company.boss
  = link_to "Wiecej", company
  %hr